<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="overflow-x-hidden">
    <div id="page1" class="w-full min-h-screen bg-cover bg-center " style="background-image: url('https://img.freepik.com/premium-photo/medical-stethoscope-pills-red-heart-blue-background-many-different-medical-objects-light-background-top-view-ai-generated_538213-9245.jpg?w=740');">
        
        <div id="nav" class="flex items-center justify-between px-20 py-14">
          <h1 class="text-5xl cursor-pointer hover:text-7xl">Mediclaim</h1>
          <div id="part2" class="flex items-center gap-20">
            <h4 class="text-2xl font-bold cursor-pointer hover:border-b-2 border-black">Home</h4>
            <h4 class="text-2xl font-bold cursor-pointer hover:border-b-2 border-black">Services</h4>
            <h4 class="text-2xl font-bold cursor-pointer hover:border-b-2 border-black">About Us</h4>
            <h4 class="text-2xl font-bold cursor-pointer hover:border-b-2 border-black">Contact Us</h4>
            <i class="ri-menu-fill text-5xl"></i>
          </div>
        </div>

        <div id="middle" class="px-10 py-10 flex h-5/6">
            <div id="left" class="w-2/3">
              <h1 class="text-7xl leading-tight font-semibold">Ensuring Health Security Through Mediclaim Solutions</h1>
              <p class="text-4xl mt-10 mb-10">Our mediclaim services help clients secure and manage health coverage through a range of solutions including policy selection, claims assistance, risk assessment, and customer support.</p>
            </div>
          </div>

    </div>
</body>
</html>
